

#bg_2x {
	left:721px;
	top:10px;
	width:279px;
	height:139px;
	background-image:url(../img/bg_2x.png);
	background-size:279px 139px;
}

#c2_2x {
	left:134px;
	top:58px;
	width:199px;
	height:26px;
	background-image:url(../img/c2_2x.png);
	background-size:199px 26px;
}

#c4_2x {
	left:133px;
	top:46px;
	width:363px;
	height:61px;
	background-image:url(../img/c4_2x.png);
	background-size:363px 61px;
}

#c_2x {
	left:133px;
	top:58px;
	width:558px;
	height:32px;
	background-image:url(../img/c_2x.png);
	background-size:558px 32px;
}

#ell_endAnim_2x {
	left:28px;
	top:50px;
	width:75px;
	height:44px;
	background-image:url(../img/ell_endAnim_2x.png);
	background-size:75px 44px;
}

#legal_2x {
	left:135px;
	top:137px;
	width:537px;
	height:9px;
	background-image:url(../img/legal_2x.png);
	background-size:537px 9px;
}
