body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:#ec0c21;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

#bg_2x {
	left:810px;
	top:0px;
	width:789px;
	height:400px;
	background-image:url(../img/bg_2x.png);
	background-size:789px 400px;
}

.ellipses {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.ellipse1 {
    left: 52px;
    top: 35px;
    width: 27px;
    height: 18px;
}

.ellipse2 {
    left: 86px;
    top: 65px;
    width: 26px;
    height: 18px;
}

.ellipse3 {
    left: 43px;
    top: 76px;
    width: 30px;
    height: 20px;
}

#ell_endAnim_2x {
	left:45px;
	top:45px;
	width:56px;
	height:35px;
	background-image:url(../img/ell_endAnim_2x.png);
	background-size:56px 35px;
}

#logo_c_2x {
	left:105px;
	top:45px;
	width:205px;
	height:34px;
	background-image:url(../img/logo_c_2x.png);
	background-size:205px 34px;
}

#c2_2x {
	left:44px;
	top:124px;
	width:357px;
	height:47px;
	background-image:url(../img/c2_2x.png);
	background-size:357px 47px;
}

#c4_2x {
	left:40px;
	top:126px;
	width:650px;
	height:113px;
	background-image:url(../img/c4_2x.png);
	background-size:650px 113px;
}

#c_2x {
	left:40px;
	top:125px;
	width:594px;
	height:113px;
	background-image:url(../img/c_2x.png);
	background-size:594px 113px;
}

#cta_2x {
	left:45px;
	top:284px;
	width:199px;
	height:51px;
	background-image:url(../img/cta_2x.png);
	background-size:199px 51px;
}

#legal_2x {
	left:44px;
	top:378px;
	width:645px;
	height:10px;
	background-image:url(../img/legal_2x.png);
	background-size:645px 10px;
}