body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:#ec0c21;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

#bg_2x {
	left:515px;
	top:22px;
	width:454px;
	height:227px;
	background-image:url(../img/bg_2x.png);
	background-size:454px 227px;
}

.ellipses {
    border-radius: 50%;
    background-color: white;
}

.ellipse1 {
    left: 25px;
    top: 14px;
    width: 20px;
    height: 14px;
}

.ellipse2 {
    left: 55px;
    top: 38px;
    width: 17px;
    height: 12px;
}

.ellipse3 {
    left: 20px;
    top: 49px;
    width: 25px;
    height: 18px;
}

#ell_endAnim_2x {
	left:30px;
	top:29px;
	width:35px;
	height:22px;
	background-image:url(../img/ell_endAnim_2x.png);
	background-size:35px 22px;
}

#logo_c_2x {
	left:67px;
	top:29px;
	width:128px;
	height:22px;
	background-image:url(../img/logo_c_2x.png);
	background-size:128px 22px;
}

#c2_2x {
	left:29px;
	top:77px;
	width:237px;
	height:31px;
	background-image:url(../img/c2_2x.png);
	background-size:237px 31px;
}

#c4_2x {
	left:27px;
	top:77px;
	width:432px;
	height:73px;
	background-image:url(../img/c4_2x.png);
	background-size:432px 73px;
}

#c_2x {
	left:27px;
	top:77px;
	width:393px;
	height:73px;
	background-image:url(../img/c_2x.png);
	background-size:393px 73px;
}

#cta_2x {
	left:27px;
	top:176px;
	width:157px;
	height:40px;
	background-image:url(../img/cta_2x.png);
	background-size:157px 40px;
}

#legal_2x {
	left:30px;
	top:236px;
	width:541px;
	height:9px;
	background-image:url(../img/legal_2x.png);
	background-size:541px 9px;
}