body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:#ec0c21;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

#bg_2x {
	left:507px;
	top:0px;
	width:132px;
	height:100px;
	background-image:url(../img/bg_2x.png);
	background-size:132px 100px;
}
.ellipses {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
	z-index: 1;
}

.ellipse1 {
    left: 25px;
    top: 27px;
    width: 21px;
    height: 14px;
}

.ellipse2 {
    left: 50px;
    top: 43px;
    width: 20px;
    height: 14px;
}

.ellipse3 {
    left: 21px;
    top: 56px;
    width: 21px;
    height: 14px;
}

#ell_endAnim_2x {
	left:22px;
	top:34px;
	width:50px;
	height:29px;
	background-image:url(../img/ell_endAnim_2x.png);
	background-size:50px 29px;
}

#c2_2x {
	left:83px;
	top:40px;
	width:128px;
	height:17px;
	background-image:url(../img/c2_2x.png);
	background-size:128px 17px;
}

#c4_2x {
	left:82px;
	top:50px;
	width:232px;
	height:20px;
	background-image:url(../img/c4_2x.png);
	background-size:232px 20px;
}

#c_2x {
	left:81px;
	top:39px;
	width:361px;
	height:21px;
	background-image:url(../img/c_2x.png);
	background-size:361px 21px;
}

#cta_2x {
	left:377px;
	top:41px;
	width:104px;
	height:27px;
	background-image:url(../img/cta_2x.png);
	background-size:104px 27px;
}

#legal_2x {
	left:85px;
	top:89px;
	width:268px;
	height:5px;
	background-image:url(../img/legal_2x.png);
	background-size:268px 5px;
}

#c3_2x {
	left:83px;
	top:29px;
	width:267px;
	height:21px;
	background-image:url(../img/c3_2x.png);
	background-size:267px 21px;
}