body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:#ec0c21;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

#bg_2x {
	left:603px;
	top:0px;
	width:124px;
	height:90px;
	background-image:url(../img/bg_2x.png);
	background-size:124px 90px;
}
.ellipses {
    border-radius: 50%;
    background-color: white;
}

.ellipse1 {
    left: 37px;
    top: 12px;
    width: 32px;
    height: 24px;
}

.ellipse2 {
    left: 75px;
    top: 46px;
    width: 28px;
    height: 20px;
}

.ellipse3 {
    left: 26px;
    top: 60px;
    width: 35px;
    height: 25px;
}

#ell_endAnim_2x {
	left:30px;
	top:26px;
	width:66px;
	height:38px;
	background-image:url(../img/ell_endAnim_2x.png);
	background-size:66px 38px;
}

#c2_2x {
	left:112px;
	top:37px;
	width:114px;
	height:15px;
	background-image:url(../img/c2_2x.png);
	background-size:114px 15px;
}

#c4_2x {
	left:112px;
	top:37px;
	width:401px;
	height:15px;
	background-image:url(../img/c4_2x.png);
	background-size:401px 15px;
}

#c_2x {
	left:107px;
	top:37px;
	width:321px;
	height:19px;
	background-image:url(../img/c_2x.png);
	background-size:321px 19px;
}

#cta_2x {
	left:524px;
	top:33px;
	width:72px;
	height:24px;
	background-image:url(../img/cta_2x.png);
	background-size:72px 24px;
}

#legal_2x {
	left:111px;
	top:80px;
	width:470px;
	height:8px;
	background-image:url(../img/legal_2x.png);
	background-size:470px 8px;
}