

#c1_2x {
	left:28px;
	top:119px;
	width:260px;
	height:31px;
	background-image:url(../img/c1_2x.png);
	background-size:260px 31px;
}

#c3_2x {
	left:29px;
	top:77px;
	width:381px;
	height:31px;
	background-image:url(../img/c3_2x.png);
	background-size:381px 31px;
}

#c4_2x {
	left:27px;
	top:119px;
	width:432px;
	height:31px;
	background-image:url(../img/c4_2x.png);
	background-size:432px 31px;
}

#c_2x {
	left:27px;
	top:77px;
	width:393px;
	height:38px;
	background-image:url(../img/c_2x.png);
	background-size:393px 38px;
}
