body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:#ec0c21;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

#bg_2x {
	left:163px;
	top:220px;
	width:477px;
	height:420px;
	background-image:url(../img/bg_2x.png);
	background-size:477px 420px;
}

.ellipses {
    border-radius: 50%;
    background-color: white;
}

.ellipse1 {
    left: 29px;
    top: 35px;
    width: 27px;
    height: 18px;
}

.ellipse2 {
    left: 60px;
    top: 60px;
    width: 26px;
    height: 18px;
}

.ellipse3 {
    left: 22px;
    top: 76px;
    width: 30px;
    height: 20px;
}


#ell_endAnim_2x {
	left:29px;
	top:53px;
	width:48px;
	height:32px;
	background-image:url(../img/ell_endAnim_2x.png);
	background-size:48px 32px;
}

#logo_c_2x {
	left:81px;
	top:54px;
	width:172px;
	height:30px;
	background-image:url(../img/logo_c_2x.png);
	background-size:172px 30px;
}

#c2_2x {
	left:35px;
	top:124px;
	width:308px;
	height:40px;
	background-image:url(../img/c2_2x.png);
	background-size:308px 40px;
}

#c4_2x {
	left:32px;
	top:179px;
	width:568px;
	height:40px;
	background-image:url(../img/c4_2x.png);
	background-size:568px 40px;
}

#c_2x {
	left:32px;
	top:125px;
	width:511px;
	height:49px;
	background-image:url(../img/c_2x.png);
	background-size:511px 49px;
}

#cta_2x {
	left:32px;
	top:265px;
	width:166px;
	height:56px;
	background-image:url(../img/cta_2x.png);
	background-size:166px 56px;
}

#legal_2x {
	left:10px;
	top:600px;
	width:175px;
	height:30px;
	background-image:url(../img/legal_2x.png);
	background-size:175px 30px;
}

#c1_2x {
	left:33px;
	top:178px;
	width:339px;
	height:40px;
	background-image:url(../img/c1_2x.png);
	background-size:339px 40px;
}

#c3_2x {
	left:35px;
	top:125px;
	width:496px;
	height:40px;
	background-image:url(../img/c3_2x.png);
	background-size:496px 40px;
}